[Unit]
Description=K2 server monitoring
After=network.target

[Service]
Type=simple
User=noroot
Group=noroot
WorkingDirectory=/var/lib/k2
EnvironmentFile=/etc/k2/.env
ExecStart=/usr/local/bin/k2
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
